* {
    margin: 0px;
    box-sizing: border-box;
}


.bg-grey {
    background: #f7f7f7;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    color: #1d3557;
}

section>.container {
    width: 1170px;
    margin: auto;
    display: block;
    padding: 30px 50px 10px 50px;
}

#nav-bar {
    text-align: center;
}

/* Banner */

.img-banner {
    position: relative;
    background-image: url(/images/banner.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    filter: brightness(40%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.text-banner {
    position: absolute;
    top: 25%;
    left: 40%;
    color: #f7f7f7;
    text-align: center;
}

.text-banner h1 {
    text-transform: uppercase;
}

.text-banner span {
    color: #f7f7f789;
}

/* Nav-bar */
#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    border-left: 2px solid #dfe6e9;
    padding: 60px 20px 12px;
}

#nav-bar a:hover,
a:active {
    font-weight: bold;
    cursor: grab;
}

.nav-name {
    display: inline-block;
    margin: 10px 70px 0px;
    text-align: center;
    color: black;
}

.nav-name h1 {
    font-size: 32px;
    font-weight: bold;
}

.nav-name span {
    color: rgba(0, 0, 0, 0.358);
    font-size: 15px;
}

.icon-user,
.icon-doc-text-inv,
.icon-mail-alt,
.icon-star-1 {
    color: #0abdea;
}

.icon-twitter,
.icon-facebook,
.icon-gplus,
.icon-linkedin {
    color: #0abdea;
}

/* Info */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-sub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 2;
}
#about .container{
    width: 100%;
    padding: 0;
}

li span {
    font-weight: bold;
}

.mt-40 {
    margin-bottom: 20px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 30px;
}

#personal-info {
    padding: 50px 400px 50px 50px;
    background-color: #e7e7e7;
    font-size: 18px;
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5); */  
}

#target {
    padding: 50px 50px 50px 40px;
    background-color: #f2f2f2;
    font-size: 18px;
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5); */
}

/* Job */

.job-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    align-items: start;
}

.job-box-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 20px;
    row-gap: 60px;
    border: 1px solid #434c5723;
    align-items: center;
    padding: 24px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.job-content {
    grid-column: 1/3;
    margin: 20px;
}

.job-title {
    font-size: 18px;
    margin-left: 20px;
}

.now {
    background-color: #0abde3;
    padding: 4px 8px;
    color: #dff1fa;
    border-radius: 12px;
}

.list {
    position: relative;
}

.list1 {
    position: relative;
}

.job-node::before {
    content: "•";
    position: absolute;
    color: #0abde3;
    display: inline-block;
    font-size: 18px;
    left: -25px;
}

/* Job > Sở thích */
.music,
.game,
.travel,
.cook {
    width: 50px;
    height: 50px;
    color: #0abde3;
    border: 2px solid #0abde3;
    padding: 5px;
    border-radius: 50%;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
}

/* Good bad */
.Good {
    background-color: #0abde3;
    display: inline-block;
    height: 2px;
    width: 40px;
}

.Bad {
    background-color: #cfcfcf;
    display: inline-block;
    height: 2px;
    width: 40px;
}

/* Chứng chỉ */
.cer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

.img-cc {
    width: 240px;
    height: 131px;
    margin-right: 10px;
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.5);
}

.cer-content {
    display: flex;
    gap: 20px;

}

.cer-content-2 {
    padding-left: 20px;
    border-left: 2px solid #e38c0a;
}

.cer-content-3 {
    border-top: 2px solid #e38c0a;
    padding-top: 20px;
    grid-column: 1/3;
}

/* project */
.project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.project-flex{
    display: flex;
    flex-direction: column;
}

.project-title{
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7 ;
}

.project-border{
    padding: 10px;
    border-top: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7 ;
}

table{
    border-collapse: collapse;
}

td{
    padding: 10px;
}

tr td:first-child{
    width: 100px;
    vertical-align:top ;
    font-weight: bold;
}
tr{
    border: 1px solid #bdc3c7;
}

/* footer */
#footer{
    line-height: 1.5;
    text-align: center;
}
#footer a:link, a:visited{
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    color: #1d3557;
    
}

#footer a:hover, a:active{
    cursor: grab;
    color: #0abde3;
}

