@media (min-width: 768px) and (max-width: 1024px){
    .text-nav{
        display: none;
    }
    #nav-bar a:link,
    a:visited{
        padding: 10px;
        margin-right: 1rem;
        padding-bottom: 30px;
    }
    #navbar{
        margin-top:1rem;
    }

    #personal-info{
        font-size: 16px;
        padding-right: 40px;
    }

    .nav-name{
        display: none;
    }
    #target{
        font-size:16px;
        padding: 50px 50px 50px 40px;
      
    }
}


